<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <springProfile name="default">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
    </springProfile>

    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <logger name="org.springframework.web" level="DEBUG"/>
        <logger name="org.springframework.web.servlet.handler" level="INFO"/>
        <logger name="com.jojoldu.blogcode" level="DEBUG"/>
        <logger name="org.hibernate.SQL" level="DEBUG"/>
    </springProfile>

    <springProfile name="real">

        <!-- Application Log -->
        <include resource="logback/application-appender.xml"/>
        <include resource="logback/error-appender.xml"/>

        <logger name="org.springframework.web" level="INFO"/>
        <logger name="org.thymeleaf" level="INFO"/>
        <logger name="org.hibernate.SQL" level="INFO"/>
        <logger name="org.quartz.core" level="INFO"/>
        <logger name="org.h2.server.web" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="APPLICATION"/>
            <appender-ref ref="ERROR"/>
        </root>
    </springProfile>

</configuration>