files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            # Pinpoint Conifg
            AGENT_ID=`hostname`
            APP_NAME=dwlee-redis-test
            JAR_PATH=/var/app/current/application.jar
            PINPOINT_OPTS="-javaagent:/etc/pinpoint/pinpoint-bootstrap-1.6.2.jar -Dpinpoint.agentId=$AGENT_ID -Dpinpoint.applicationName=$APP_NAME"
            # run app
            killall java
            java $PINPOINT_OPTS -Dfile.encoding=UTF-8 -jar $JAR_PATH
