files:
    "/tmp/pinpoint-install.sh":
            mode: "000744"
            owner: webapp
            group: webapp
            content: |
                #!/bin/bash
                wget -P /etc/pinpoint $1
                cd /etc/pinpoint
                tar -zxvf pinpoint-agent*.tar.gz

container_commands:
  001-command:
      command: "./pinpoint-install.sh ${PINPOINT_AGENT_URL}"
      cwd: /tmp
  002-command:
      command: mv pinpoint-real-env-lowoverhead-sample.config pinpoint.config
      cwd: /etc/pinpoint
  003-command:
      command: sed -i "s/127.0.0.1/${PINPOINT_COLLECTOR_URL}/g" pinpoint.config
      cwd: /etc/pinpoint
  004-command:
      command: sed -i "s/profiler.sampling.rate=20/profiler.sampling.rate=1/g" pinpoint.config
      cwd: /etc/pinpoint
  005-command:
      command: sed -i "s/#profiler.applicationservertype=TOMCAT/profiler.applicationservertype=TOMCAT/g" pinpoint.config
      cwd: /etc/pinpoint
  006-command:
      command: sed -i "s/INFO/DEBUG/g" log4j.xml
      cwd: /etc/pinpoint/lib